<h1>Edit <%= @sub.title %></h1>

<%= render "form", sub: @sub %>

<br><br>
<%= button_to "Delete #{@sub.title}", sub_url(@sub), method: :delete,
  data: { confirm: "Are you sure you want to delete #{@sub.title}?" }%>
<br>
<%= button_to "Back to #{@sub.title}", sub_url(@sub), method: :get %>
<%= button_to "All Subs", subs_url, method: :get %>
